.background-block
{
    background-image: url('../Imgs/Building.jpg');
    background-repeat: none;
    background-size: cover;
    padding: 239px 0px;
}

.div-phrase
{
    font-family: 'Work Sans SemiBold';
    font-size: 72px;
    line-height: 84.46px;
    color: #292E3D;
    background-color: transparent;
    width: 556px;
}