@font-face 
{
    font-family: 'Playfair Display';
    font-weight: 700px;
    src: url('fonts/PlayfairDisplay-Bold.ttf')  format('truetype')
}

@font-face 
{
    font-family: 'Plus Jakarta Sans';
    font-weight: 400px;
    src: url('fonts/PlusJakartaSans-Regular.ttf')  format('truetype')
}

* 
{
    box-sizing: border-box;
}

.div-root
{
    font-family: 'Playfair Display', sans-serif;
    font-size: 0px;
    margin: 0px;
    padding: 126px 0px;
    background-color: #F2F7FF;
    height: 786px;
}

.h3-header, .h4-header
{
    margin: 0px;
    padding: 0px;
}

.div-content
{
    display: flex;
    align-self: center;
    width: 1110px;
    margin: 0px auto;
}

.div-main-header
{
    display: flex;
    align-self: flex-start;
    font-weight: 700;
    font-size: 48px;
    line-height: normal;
    width: 419.309px;
    height: 291px;
    flex-shrink: 0;
    padding-top: 48px;
    margin-right: 52.69px;
    color: #2D2F30;
}

.div-blocks
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 542px;
}

.div-block
{
    justify-content: center;
    align-items: center;
    width: 256px;
    min-height: 253px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background: #FCFCFC;
    box-shadow: 0px 18px 58px 16px rgba(0, 0, 0, 0.06);
    padding: 24px;
    margin-bottom: 28px;
}

.div-img
{
    display: flex;
    align-self: flex-start;
    width: 37px;
    height: 37px;
    margin-bottom: 18px;
}

.div-header
{
    width: 181px;
    display: flex;
    align-self: baseline;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
    color: #363940;
}

.div-description
{
    width: 210px;
    display: flex;
    align-self: baseline;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    color: #8B8C8C;
}